<main>
  {% for feature in site.features %}
    <hr id='{{ feature.id }}'>

    <section>
      <!-- <img class='{% cycle 'pull&#45;right', 'pull&#45;left' %}' src='{{ feature.image }}'> -->
      <!-- <h2>{{ feature.heading }}<span>{{ feature.subheading }}</span></h2> -->
      <!-- <div class='lead'>{{ feature.content }}</div> -->
    </section>
  {% endfor %}

  <h4>
  전석환,원인호,땡땡이 공작(한보람, 장재원, 물고기),릴리쿰(정혜린, 선윤아),김진원,문승용,세원이랑친구랑 (안세원,친구),터무니상조회(박고운, 이지은, 여지 스튜디오, 디디고고),김미영 팀장(윤혜정, 이상미), 임태훈, 배민경, 차재, 다이애나밴드(신원정, 이두호),FABCOOP(최빛나, 송수연),황동욱, 써커스여인, PROTOROOM(김승범,Hoonida Kim), IDPW, 박영대,뉴상준, VJ youngshin,송호준,서울 익스프레스(전유진, 홍민기),이태호, 벌레벌레 출판사 (지로,유선)
  </h4>
  <hr>
</main>
