  <pre>
  인터넷 블랙 마켓 (Internet Black Market)

  일시 : 8월 29일 토요일
  시간 : 오후 4시-9시
  장소 : 보안여관 
  오는 길 : http://bit.ly/1WRAP05

  자연이자 삶이 되어 가는 인터넷의 의미를 다르게 묻는 사물과 개념, 행위를 판매하는 시장, 인터넷 블랙 마켓이 오는 토요일(29일) 보안여관에서 열립니다. 미디어 작가, 활동가, 디자이너, 인문학자, 영상작가, 개발자, 제작자,사운드 작가, 건축가 등 25팀, 42명의 작업자들이 참여해 인터넷을 주제로 한 유형,무형의 사물들을 판매하고, 만들고, 퍼포먼스를 벌입니다. 풍자와 블랙 유머의 암시장, 인터넷 블랙 마켓에 놀러오세요!

  오프닝 퍼포먼스 
  일렉트로닉 굿 : 후니다 김 & 신원정

  퍼포먼스
  NO INTERNET DO YOUR YOGA : 릴리쿰 

  참가팀 및 작업명

  김미영 팀장님(이상미, 윤혜정,윤창환) : 정보는 힘이다
  김진원 : 키키그라피
  뉴상준 : 쓰레기 쇼크
  다이애나밴드(신원정, 이두호) : 잡화대여소
  땡땡이 공작 (한보람, 장재원, 물고기) : 혐오 칵테일
  릴리쿰 (정혜린, 선윤아) : 인터넷 약장수 
  문승용 : Hacked
  따따따쩜빵(박영대, 강윤희), : 고민해결 솔루션 & RIP IE 컵케이크
  배민경 : 허술 망원경 체험
  벌레벌레 출판사 (기어가는씨, 벌레C, 벌레J) : URL zine
  서울 익스프레스 (전유진, 홍민기) : 종북 좌파 식별 장치
  세원이랑친구랑 (안세원,친구): Chingooooooooo
  송호준 : HEAVEN/HELL
  써커스여인 & 김나래 : 사랑의 묘약 처방소
  원인호 : www.ismysitenow.com
  이태호 : 개발자 커피
  임태훈 A.K.A 임테리오 훈꿍스 : 80년대 풍 컴퓨터 오덕후의 텐트
  전석환 : 사이버 비방질
  차재 : #selpee
  터무니상조회 (박고운, 이지은, 여지 스튜디오, 디디고고) : 인터넷 터무니 상점
  황동욱 : 하늘을 찍어드립니다_ jpg to stl
  FAB COOP (송수연, 최빛나) : 인터넷 감시 대항 이진수 댄스
  IDPW (와타나베 토모야) : 돌
  PROTOROOM (김승범, 후니다김) : 로딩 아이콘과 인터넷 부적
  VJ youngshin : 질문을 사세요!

  *
  인터넷 블랙마켓은 일본의 뉴미디어 아티스트 '엑소니모'를 주축으로 한 '100년의 역사를 자랑하는 비밀 결사 조직' idpw'이 2012년부터 시작한 행사입니다. 이번에는 '월드와이드 인터넷 블랙마켓 위크' 라는 이름으로 5개 도시(서울,뉴욕,린츠, 타이창, 상파울로)에서 동시 다발로 진행됩니다. 

  월드와이드 인터넷 블랙 마켓 위크 2015
  World Wide Internet Yami-ichi Weeks
  8.22 ☞ 9.13, 2015 

  상파울로(Centro Aberto 8/22,23)
  서울 (보안여관 Artspace Boan 8/29)
  타이창 (National Museum of Taiwan 8/29)
  린츠 (Ars Electronica 9/5)
  뉴욕(knock center 9/12 )


  관련 사이트


  엑소니모 사이트
  http://exonemo.com/

  인터넷 블랙 마켓 사이트
  http://yami-ichi.biz/

  인터넷 블랙 마켓 2015 사이트
  http://yami-ichi.biz/wwyw/

  인터넷 블랙 마켓 영상 
  https://www.youtube.com/watch?v=mjWJsE7B1cs 


  seoul organized by 
  PROTOROOM & FAB COOP (청개구리제작소)
  http://protoroom.kr/ / http://www.fabcoop.org/

  supported by 
  보안여관 Artspace Boan 1942
  </pre>
  <hr>
